# **Print Function**

In [1]:
print("Hello world!")

Hello world!

*We can print integers, boolian values and strings in a single print statement just by seperating them by a comma ( , )*

In [5]:
print("My name is Arsalan Mateen", "Age :", 21)

My name is Arsalan Mateen Age : 21

*By default its seperated by space, but we can override this behaviour using sep attribute*

In [6]:
print("My name is Arsalan Mateen", "Age :", 21, sep="/")

My name is Arsalan Mateen/Age :/21

# **Data Types in Python**

*Python offers variaty of datatypes* *i*-*e*.,

- *integer*
- *float*
- *bool*
- *complex number*
- *list (mostly like array)*
- *tuple*
- *set*
- *dictionary*

*If you explicitly want to check the datatypes use type() function*

In [7]:
type(True)

bool

In [8]:
type ("True")

str

# **Variables in Python**

*A variable is an instance of an identifier that refers to a specific location in memory. It is used to store a value and makes it easier to access or modify that value by using a name that we define ourselves.*

**Note**

Python support Dynamic typing and binding.

In [13]:
name = "Arsalan Mateen"
age = 21
print (f"My name is : {name} and I am {age} year old")

My name is : Arsalan Mateen and I am 21 year old

# **Input in Python**

In [14]:
user_email = input("Enter your Email :")
print(user_email)

Enter your Email :arsalanmateen.pk@gmail.com
arsalanmateen.pk@gmail.com

# **Tasks**

***Write a program that will convert celsius value to fahrenheit***

In [15]:
celsius = int(input("Input temperature in celsius : "))
fahrenhiet = ((9/5) * celsius) + 32

print(f"{celsius} celsius in fahrenhiet is : {fahrenhiet}")

Input temperature in celsius : 34
34 celsius in fahrenhiet is : 93.2

***Write a program to find the simple interest when the value of principle, rate of interest and time period is provided by the user***

In [20]:
principle_amount = float(input("Enter the Principal amount: "))
rate_of_interest = float(input("Enter the Rate of Interest (per annum in %): "))
time_period = float(input("Enter the Time period (in years): "))

simple_interest = (principle_amount * rate_of_interest * time_period)/100

print(f"Simple Interest is : {simple_interest}")

Enter the Principal amount: 1000
Enter the Rate of Interest (per annum in %): 5
Enter the Time period (in years): 2
Simple Interest is : 100.0

***Write a program to find the euclidean distance between two coordinates. Take both the coordinates from the user as input***

In [21]:
import math

x1 = float(input("Enter x-coordinate of first point: "))
y1 = float(input("Enter y-coordinate of first point: "))
x2 = float(input("Enter x-coordinate of second point: "))
y2 = float(input("Enter y-coordinate of second point: "))

# Calculate Euclidean distance
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

# Output the result
print(f"Euclidean Distance between the points = {distance}")

Enter x-coordinate of first point: 3
Enter y-coordinate of first point: 2.8
Enter x-coordinate of second point: 1
Enter y-coordinate of second point: 7.9
Euclidean Distance between the points = 5.478138369920935