# **Print Function**

In [1]:
print("Hello world!")

Hello world!

*We can print integers, boolian values and strings in a single print statement just by seperating them by a comma ( , )*

In [5]:
print("My name is Arsalan Mateen", "Age :", 21)

My name is Arsalan Mateen Age : 21

*By default its seperated by space, but we can override this behaviour using sep attribute*

In [6]:
print("My name is Arsalan Mateen", "Age :", 21, sep="/")

My name is Arsalan Mateen/Age :/21

# **Data Types in Python**

*Python offers variaty of datatypes* *i*-*e*.,

- *integer*
- *float*
- *bool*
- *complex number*
- *list (mostly like array)*
- *tuple*
- *set*
- *dictionary*

*If you explicitly want to check the datatypes use type() function*

In [7]:
type(True)

bool

In [8]:
type ("True")

str

# **Variables in Python**

*A variable is an instance of an identifier that refers to a specific location in memory. It is used to store a value and makes it easier to access or modify that value by using a name that we define ourselves.*

**Note**

Python support Dynamic typing and binding.

In [13]:
name = "Arsalan Mateen"
age = 21
print (f"My name is : {name} and I am {age} year old")

My name is : Arsalan Mateen and I am 21 year old

# **Input in Python**

In [14]:
user_email = input("Enter your Email :")
print(user_email)

Enter your Email :arsalanmateen.pk@gmail.com
arsalanmateen.pk@gmail.com